<h1>Aqui estan todas tus preguntas</h1>
<ul>
  <li><a href="/users/<%=session[:id]%>">Home</a></li>
  <li><a href="/my_questions">Mis preguntas</a></li>
  <li><a href="/my_answers">Mis respuestas</a></li>
  <li><a href="/user_profile">Ver mi perfil</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>


<% @questions.each do |question|%>
  <h3>*<%= question.question_text %></h3>
  <% answers = Question.find_by(id: question.id).answers%>
  <% answers.each_with_index do |answer, index|%>
    <p><%="#{index+1}.- #{answer.answer_text}" %></p>
  <% end %>
  <hr>
<%end%>
