<h1>Ingresa tus datos para registrarte</h1>
<p> <%= @message_error %></p>
<form action="/register" method="post">
  <p>Ingresa tu user name:</p>
  <input name= "user_name" type="text" placeholder="Ingresa tu user name">
  <p>Ingresa tu emial:</p>
  <input name= "user_email" type="email" placeholder="Ingresa tu email">
  <p>Ingresa tu password:</p>
  <input name= "user_password" type="password" placeholder="Ingresa tu password">
  <br>
  <br>
  <input type="submit">
</form>
